.error {
  height: 100vh;
  background-color: #f4f7fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;

  &__image {
    width: 300px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 48px;
    color: #ff4d4f;
    margin-bottom: 10px;
  }

  &__desc {
    font-size: 18px;
    color: #555;
    max-width: 400px;
  }
}